In [4]:
import pandas as pd

In [5]:
!unzip '/content/supermarket.zip'

Archive:  /content/supermarket.zip
replace supermarket_sales -.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [6]:
df = pd.read_csv('/content/supermarket_sales -.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [7]:
event_A = df['Customer type'] == 'Member'
event_B = df['Payment'] == 'Credit Card'

In [8]:
total_transactions = len(df)
P_A = event_A.sum() / total_transactions
P_B = event_B.sum() / total_transactions
P_A_intersect_B = (event_A & event_B).sum() / total_transactions
P_A_union_B = P_A + P_B - P_A_intersect_B
P_A_given_B = P_A_intersect_B / P_B
print(f"P(A): {P_A}")
print(f"P(B): {P_B}")
print(f"P(A ∪ B): {P_A_union_B}")
print(f"P(A ∩ B): {P_A_intersect_B}")
print(f"P(A | B): {P_A_given_B}")

P(A): 0.501
P(B): 0.0
P(A ∪ B): 0.501
P(A ∩ B): 0.0
P(A | B): nan

<ipython-input-8-a5ef0c6af8c6>:6: RuntimeWarning: invalid value encountered in scalar divide
  P_A_given_B = P_A_intersect_B / P_B

In [9]:
event_health_beauty = df['Product line'] == 'Health and beauty'
probability_health_beauty = event_health_beauty.sum() / len(df)
print(f"Probability of Health & Beauty product line: {probability_health_beauty}")

Probability of Health & Beauty product line: 0.152

In [10]:
event_ewallet = df['Payment'] == 'Ewallet'
event_more_than_5_items = df['Quantity'] > 5
event_intersection = event_ewallet & event_more_than_5_items
conditional_probability = event_intersection.sum() / event_ewallet.sum()
print(f"Probability of purchasing more than 5 items given Ewallet payment: {conditional_probability}")

Probability of purchasing more than 5 items given Ewallet payment: 0.48695652173913045

In [11]:
event_yangon = df['City'] == 'Yangon'
event_cash = df['Payment'] == 'Cash'
event_intersection = event_yangon & event_cash
conditional_probability = event_intersection.sum() / event_yangon.sum()
print(f"Probability of purchasing a cash payment in Yangon: {conditional_probability}")

Probability of purchasing a cash payment in Yangon: 0.3235294117647059

In [12]:
is_member = df['Customer type'] == 'Member'
rating_above_8 = df['Rating'] > 8
member_and_rating_above_8 = is_member & rating_above_8
probability = member_and_rating_above_8.sum() / len(df)
print(f"Probability of selecting a Member with rating above 8: {probability}")

Probability of selecting a Member with rating above 8: 0.157

In [13]:
def factorial(n):
  if n < 0:
    raise ValueError("Factorial is not defined for negative numbers")
  elif n == 0:
    return 1
  else:
    result = 1
    for i in range(1, n + 1):
      result *= i
    return result

In [14]:

def permutations(n, r):
  if n < 0 or r < 0 or r > n:
    raise ValueError("Invalid input for permutations")
  return factorial(n) // factorial(n - r)
def combinations(n, r):
  if n < 0 or r < 0 or r > n:
    raise ValueError("Invalid input for combinations")
  return factorial(n) // (factorial(r) * factorial(n - r))
n = 5
r = 3
print(f"Factorial of {n}: {factorial(n)}")
print(f"Permutations of {n} objects taken {r} at a time: {permutations(n, r)}")
print(f"Combinations of {n} objects taken {r} at a time: {combinations(n, r)}")

Factorial of 5: 120
Permutations of 5 objects taken 3 at a time: 60
Combinations of 5 objects taken 3 at a time: 10

In [15]:
n = 20
r = 5
num_permutations = permutations(n, r)
print(f"Number of ways to arrange 5 transactions from 20: {num_permutations}")

Number of ways to arrange 5 transactions from 20: 1860480

In [16]:
n = 4
r = 4
num_permutations = permutations(n, r)
print(f"Number of ways to display 4 payment methods from 4 types: {num_permutations}")

Number of ways to display 4 payment methods from 4 types: 24

In [17]:
n = 15
r = 5
num_combinations = combinations(n, r)
print(f"Number of ways to select 5 employees from 15: {num_combinations}")

Number of ways to select 5 employees from 15: 3003

In [18]:
n = 26
r = 6
num_ways_no_repetition = permutations(n, r)
print(f"Number of ways without repetition: {num_ways_no_repetition}")

Number of ways without repetition: 165765600